{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    
    <!--------------- login-section --------------->
    <section class="login product footer-padding">
     
        <div class="container">
            <div class="login-section">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="login-form">

                            <form method="POST" class="review-form box-shadows">
                                {% csrf_token %}

                                <div class="review-form-text">
                                    <h5 class="comment-title">Forget Password</h5>
                                    <img src="{% static 'assets/images/homepage-one/vector-line.png' %}" alt="img">
                                </div>

                                <div class="review-inner-form ">

                                    <div class="review-form-name">
                                        <label for="password" class="form-label">Email*</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                    </div>

                                </div>
                                <div class="login-btn text-center mt-3">
                                    <button type="submit" class="shop-btn">Send</button>
                                    <span class="shop-account">Have have an account? <a href="{% url 'authuser:login' %}">Register</a> </span>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-img">
                            <img src="{% static 'assets/images/homepage-one/account-img.webp' %}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--------------- login-section-end --------------->

{% endblock content %}
    
    

