{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    <!---------------user-profile-section---------------->
    <section class="user-profile footer-padding">
        <div class="container">
            <div class="user-profile-section box-shadows">
                <div class="user-dashboard">
                    
                    <div class="nav nav-item nav-pills  me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% include 'includes/sidebar.html' %}

                    </div>

                    <!-- nav-content -->
                    <div>

                        <div class="row align-items-center">
                            <div class="col-lg-6">

                                <form method="POST" class="form-section">
                                    {% csrf_token %}

                                    <div>
                                        <div class=" ">
                                            <label for="currentpass" class="form-label">Current Password*</label>
                                            <input type="password" name="old_password" class="form-control" id="currentpass"
                                                placeholder="******">
                                        </div>

                                        <div class="password form-item">
                                            <label for="pass" class="form-label">New Password*</label>
                                            <input type="password" name="new_password" class="form-control" id="pass"
                                                placeholder="******">
                                        </div>

                                        <div class="re-password form-item">
                                            <label for="repass" class="form-label">Confirm New Password*</label>
                                            <input type="password" name="confirm_new_password" class="form-control" id="repass"
                                                placeholder="******">
                                        </div>
                                    </div>

                                    <div class="form-btn">
                                        <button type="submit"" class="shop-btn">Update Password</button>
                                    </div>

                                </form>
                            </div>

                            <div class="col-lg-6">
                                <div class="reset-img text-end">
                                    <img src="{% static 'assets/images/homepage-one/reset.webp' %}" alt="reset">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--------------- user-profile-section-end --------------->

{% endblock content %}
    
    

